<form id="event_form" accept-charset="UTF-8" action="/events">
  <div style="display:none">
    <input type="hidden" name="utf8" value="&#x2713;" >
    <input type="hidden" name="authenticity_token" value="e3a6e2ed24b525a5f7adff17a8d4d53514eca79cc8d61b671b71c6d4badfd16db3281080a6a1565162bedbae752760ef0d3883ea66aff9740ebc6fa7c2e11801">
  </div>

  <div class="form-group">
    <label class="control-label" for="event_title">Title</label><br>
    <input class="form-control"  type="text" name="event[title]" 
           id="event_title" size="48x1"><br>
  </div>

  <div class="form-group">
    <label class="control-label" for="event_description">Description</label><br>
    <textarea class="form-control" name="event[description]" id="event_description" 
              rows="5" cols="50"></textarea><br>
  </div>

  <div class="form-group">
    <label class="control-label" for="event_start">Strat</label>
    <div class='input-group date' id='datetimepicker1' >
      <input type='datetime' class="form-control" id="event_start" 
             name="event[start]" data-date-format="YYYY/MM/DD HH:mm" >
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label" for="event_finish">Finish</label>
    <div class='input-group date' id='datetimepicker2'>
      <input type='datetime' class="form-control" id="event_finish" 
             name="event[finish]"data-date-format="YYYY/MM/DD HH:mm"  >
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label" for="event_all_day">All Day</label><br>
    <input name="event[all_day]" type="hidden" value="0">
    <input id="event_all_day" name="event[all_day]" type="checkbox" value="1">
  </div>

  <div class="modal-footer">
    <button id="commit" type="submit" class="btn btn-default" value="" >
      Create Event
    </button>
    <button id="delete" class="btn btn-danger" style="display:none" type="button">
      Delete Event
    </button>
  </div>
</form>

<script type="text/javascript">
    var datepicker = $(function () {
            $('#datetimepicker1').datetimepicker();
            $('#datetimepicker2').datetimepicker();
          });
</script>



